@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/*===================================
 * 共通
===================================*/
html {
  font-family: "Hiragino Kaku Gothic StdN";
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  margin-bottom: 1.6rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 * Header
===================================*/
.l-header {
  height: 1.8vw;
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.l-header__logo {
  display: inline-block;
  max-width: 10%;
}

.l-header__logo img {
  width: 100%;
  height: auto;
}

.l-main img {
  width: 100%;
}

.p-mv img {
  width: 100%;
  height: auto;
}

/*===================================
 * p-consultation
===================================*/
.p-consultation {
  position: relative;
}

.c-cv__inner {
  width: 47.3958vw;
  margin: 0 auto;
  position: relative;
}

.c-cv__top {
  padding-top: 0.5208333333vw;
  padding-left: 4.375vw;
  padding-bottom: 3vw;
}

.c-cv__top::before {
  background: url(/img/check_top.svg) no-repeat left center/5.8854166667vw auto;
  content: "";
  display: block;
  position: absolute;
  height: 5.8854166667vw;
  left: -2.34375vw;
  top: -1.5625vw;
  width: 5.8854166667vw;
}

.c-cv__top__title {
  line-height: 30px;
}

.c-cv__top__title p {
  font-size: calc(112.5% + 0.25vw);
  margin-bottom: 0.2604166667vw;
}

.c-cv__top__title h3 {
  font-size: 3.75vw;
  font-weight: 900;
  position: relative;
}

.p-cv__button .c-button {
  border: solid 0.1041666667vw #000;
  align-items: center;
  background: #fff url(/img/icon-arrow02.svg) no-repeat right 2.6041vw center/1.0937vw auto;
  display: flex;
  font-weight: 800;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .p-cv__button .c-button {
    border: 0.2083333333vw solid #000;
    box-shadow: 0 0.5208333333vw 0.8333333333vw 0 rgba(0, 0, 0, 0.32);
    font-size: 1.9791vw;
    height: 6.25vw;
    width: 47.3958vw;
  }
}
.p-cv__button .c-button:hover {
  background: #000;
  color: #fff;
  background-image: url(/img/icon-arrow01.svg) no-repeat right 2.6041vw center/1.0937vw auto;
}

.video {
  height: 600px;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*===================================
 * p-scene
===================================*/
.p-scene__inner {
  background-color: #E3E3E3;
  position: relative;
}

.p-scene__inner::after {
  content: "";
  display: block;
  background-image: url(/img/sankaku.png);
  background-size: 100% auto; /* Adjust the image to 100% width */
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px; /* Set the actual height of your image */
  width: 100%;
  transform: translateY(99%);
}

.p-scene__text {
  background-image: url(/img/scene_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.p-scene__text p {
  font-size: 40px;
}

.p-scene__text p span {
  font-size: 60px;
}

/*===================================
 * p-matching
===================================*/
/*===================================
 * p-voice
===================================*/
.p-voice__inner {
  width: 70vw;
  margin: 0 auto;
  position: relative;
}

.p-voice__top__title {
  text-align: center;
  font-size: 50px;
}

.p-voice__bottom__item {
  background-color: #D9D9D9;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}

.p-voice__bottom__item:not(:last-child) {
  margin-bottom: 1.9vw;
}

.p-voice__bottom__item::before {
  border-width: 9.2708333333vw 9.2708333333vw 0 0;
  border-style: solid;
  border-color: #38B6FF transparent transparent transparent;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.p-voice__bottom__head {
  position: absolute;
  z-index: 2;
  left: 0.8333333333vw;
  top: 0.5208333333vw;
}

.p-voice__bottom__head h5 img {
  height: 2.0833333333vw;
}

/*===================================
 * sass
===================================*/