/*===================================
 * Header
===================================*/

.l-header{
  height: 1.8vw;
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &__logo{
    display: inline-block;
		max-width: 10%;
    img{
      width: 100%;
      height: auto;
    }
  }
}
